html, body {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    color: #374767;
    background-color: #f1f3f6;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #37a000;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #37a000;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}


.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 20px;
    left: 320px;
    width: 20px;
    height: 20px;
    border: solid 2px transparent;
    border-top-color: #37a000;
    border-left-color: #37a000;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ECF0F1;
    z-index: 9999;
    height: 100%;
    width: 100%;
}

#status {
    width: 920px;
    height: 532px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -266px 0 0 -460px;
    background: url(../img/preload.gif) center no-repeat;
}


.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}

.main-header {
    position: relative;
    max-height: 120px;
    z-index: 1030;
}

a {
    color: #009688;
    text-decoration: none;
}

.main-header .logo {
    display: block;
    float: left;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    width: 250px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    background-color: #0c0b0c;
    color: #241d1d;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border-bottom: 2px solid #0c0b0c;
}


.main-header .logo .logo-mini {
    display: none;
}

.main-header .logo .logo-lg img, .main-header .logo .logo-mini img {
    height: 52px;
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    min-height: 100%;
    width: 250px;
    z-index: 810;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: #010a0f;
}

.sidebar {
    padding-bottom: 10px;
}


.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
