body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}


.half, .half .container > .row {
    height: 100vh;
    min-height: 700px;
}

.half .bg {
    background-size: cover;
    background-position: center;
}

.half .contents, .half .bg {
    width: 50%;
}
.half, .half .container > .row {
    height: 100vh;
    min-height: 700px;
}
.form-group {
    margin-bottom: 1rem;
}   


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}



.half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}



input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}
.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}
@media (max-width: 991.98px) {
    .half .bg {
        height: 200px;
    }
}


@media (max-width: 1199.98px) {
    .half .contents, .half .bg {
        width: 100%;
    }
}

